body {
}
#navIndex {
    margin-bottom: 40px;
    text-align: center;
}
#mainContainer {
    margin-bottom: 300px;
}
.contentContainer {
    display: none;
}
#tableLineTube {
    background-color: #dff0d8;
    margin-top: 20px;
    font-size: 16px;
}
.tdNameTube {
    width: 150px !important;
}
.tdTypeTube {
    width: 100px !important;
}
#tableStaationsTube {
    width: 300px;
    background-color: whitesmoke;
}
#scrolTable {
    margin-top: 20px;
    width: 320px;
    height: 260px;
    overflow-y: auto;
}
#tubeStations {
    display: none;
    margin-top: 20px;
}
#divMapsTube {
    margin-top: 50px;
    display: none;
    height: 700px !important;
    width: 700px !important;
}
#tdActive {
    width: 5px !important;
}
#tableAllBus {
    width: 100px;
}
#SearchBus {
    margin: 10px;
}
#showLineDestination {
    background-color: lightblue;
}
#busLines {
    width: 100px;
    height: 1000px;
    overflow-y: auto;
}
#tableStationBus {
    background-color: snow;
}
#busStations {
    height: 1000px;
    overflow-y: auto;
}
#resultSearch {
    text-align: left;
    width: 500px;
    display: none;
    height: 100px;
    overflow-y: auto;
}
